*,
*::before,
*::after{
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16a0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: .25em .25em .75em rgba(0,0,0,.25);
}

@media(min-width: 800px) {
  :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body{
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section{
  padding: 5em 2em;
}

.btn:focus, .btn1:focus{
  outline: 3px solid var(--clr-dark);
  outline-offset: 3px;
}

.btn{
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn1{
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--clr-light);
  color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}


.btn:hover, .btn1:hover{
  transform: scale(1.2);
}

.nav{
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  float: left;
  text-align: center;
  margin: 0 auto;
}


.nav a{
  color: var(--clr-light);
  padding: 1em;
  text-decoration: none;

}

.nav a:hover{
  background-color: var(--clr-light);
  color: var(--clr-dark);
}


img{
  display: block;
  max-width: 100%;
}


h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1{
  font-size: var(--fs-h1)
}
h2{
  font-size: var(--fs-h2)
}
h3{
  font-size: var(--fs-h3)
}

.section__title{
  margin-bottom: .25em;
}

.section__title_intro{
  font-weight: var(--fw-reg);
}

.section__subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--aboutme{
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
}


.logo{
  max-width: 100px;
}


.intro{
  position: relative;
}

.section__title--intro{
  margin: 0;
  font-size: var(--fs-h1);
  text-align: center;
}

.portfolio__img{
  box-shadow: var(--bs);
}

@media (min-width 600px){
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:"img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }


}

.aboutme{
  /*background-image: url(mashiro.jpg);*/
  background-color: var(--clr-accent);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.personal{
  max-width: 350px;
  margin: 0 auto;
}



.section__title--aboutme{
  color: var(--clr-light);
  position: relative;
}

.section__title--aboutme::after{
  content: '';
  display: block;
  width: 10em;
  height: 1px;
  margin: .5em auto 1em;
  background: var(--clr-light);
  opacity: .25;
}

.info{
  margin-bottom: 2em;
}

.aboutmepicture{
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5em;
}

@media (min-width: 800px){
  .info{
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .personal + .personal{
    margin-left: 4em;
  }

}

.blurb{
  text-align: center;
  margin-bottom: 3em;
}

.personalblog{
  text-align: center;
  background-color: var(--clr-light);
  background-size: cover;
  color: var(--clr-dark);
}


.section__title--personalblog:after, .section__title--projects:after{
  content: '';
  display: block;
  width: 10em;
  height: 1px;
  margin: .5em auto 1em;
  background: var(--clr-dark);
  opacity: .25;
}


.blogpicture{
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.projects{
  background-color: var(--clr-accent);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}


.footer{
  background: var(--clr-light);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}


.socials{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}


.social-list__item{
  margin: 0 2em;
  transition: transform 200ms ease-in-out;
}

.social-list__item:hover{
  transform: scale(1.5);
}
